<!DOCTYPE html>

<html lang="fr">
  <head>
    <title>ASAD - Publisher</title>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container pt-5" id="app">
      <h1>Welcome publisher <em><ins>{{ username }}</ins></em></h1>
      <hr />
      <div class="row">
        <div class="col">
          <h3>Registered topics</h3>
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              v-for="topic in topics"
              @click="selected = topic"
              :class="{ active: selected === topic }"
            >
              {{ topic }}
              <button type="button" class="btn btn-danger btn-sm" @click="removeTopic(topic)">remove</button>
            </li>
          </ul>
        </div>
        <div class="col">
          <h3>Register new topic</h3>
          <div class="form-group">
            <label for="topic">Topic name</label>
            <div class="row no-gutters">
              <div class="col flex-grow-1">
                <input type="text" class="form-control" id="topic" v-model="newTopic" />
              </div>
              <div class="col">
                <button type="button" class="btn btn-primary ml-2" @click="addTopic">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" id="content" rows="3" v-model="content"></textarea>
          <button type="button" class="btn btn-primary ml-2" @click="publish" :disabled="selected === null">
            Publish
          </button>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript">
      var router = new VueRouter({
        mode: "history",
        routes: [],
      });

      new Vue({
        router,
        el: "#app",
        data() {
          return {
            topics: [],
            selected: null,
            newTopic: "",
            content: "",
            username: "",
          };
        },
        socket: null,
        async mounted() {
          this.username = this.$route.query.username;
          console.log(`username: ${this.username}`);
          return new Promise((resolve) => {
            this.socket = io("localhost:3000", {query: {username: this.username}}); // connect
            console.log("connecting...");
            this.socket.on("connect", () => {
              console.log("connected...");
              this.socket.emit("publisher", null, (topics) => {
                console.log("registered as publisher!");
                console.log(topics);
                this.topics = topics
                resolve();
              });
            });
          });
        },
        methods: {
          addTopic() {
            const topic = this.newTopic.trim();
            if (topic !== "" && !this.topics.includes(topic)) {
              this.topics.push(topic);
              this.selected = topic;
              if (this.socket !== null) {
                this.socket.emit("register", topic);
              }
            }
            this.newTopic = "";
          },
          removeTopic(topic) {
            this.topics = this.topics.filter(t => t != topic);
            if (this.selected === topic) {
              this.selected = null;
            }

            if (this.socket !== null) {
              this.socket.emit("unregister", topic);
            }
          },
          publish() {
            const content = this.content.trim();
            if (content !== "") {
              this.socket.emit("publish", {
                topic: this.selected,
                content,
              });
            }
            this.content = "";
          },
        },
      });
    </script>
  </body>
</html>
